/* global.css */
* {
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 1.25em;
}
body {
  font-family: 'Work Sans', sans-serif;
}
main {
  min-height: 100vh;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  hyphens: auto;
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrap.course--detail,
.wrap.create--course,
.wrap.course--update {
  padding: 50px;
  color: white;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  backdrop-filter: blur(10px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}
header {
  box-shadow: rgba(0,0,0,.5) 0px 20px 30px -10px;
  background-color: transparent;
  color: white;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--logo a {
  font-size: 1.25rem;
  color: white;
}
header li {
  font-size: 0.8rem;
}
header nav a {
  color: white;
  position: relative;
}
header nav a:hover::after {
  width: 100%;
  right: 0;
  opacity: 1;
}
header nav a::after {
  content: '';
  width: 0;
  opacity: 0;
  background-color: white;
  height: 2px;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transition: .4s;
}


.header--signedin li {
  text-align: right;
  line-height: 1.25;
}
.header--signedout li {
  display: inline-block;
  margin-left: 0.5rem;
}
.search-input,
input,
textarea  {
  color: white;
  min-width: 250px;
  width: 33%;
  margin: 10px auto;
  backdrop-filter: blur(10px);
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.search-input {
  margin-bottom: 50px;
}
.search-input:focus,
.search-input:active,
input:focus,
button:focus,
.button:focus,
textarea:focus {
  outline: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0.21) -1.83%, rgba(255, 255, 255, 0) 109.95% );
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.search-input::placeholder{
  color: rgba(255, 255, 255, 0.684);
}
.course--module {
  height: 150px;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  backdrop-filter: blur(10px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  transition: 5s background;
  overflow: hidden;
}
.course--module:hover {
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.31) 109.95% );
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
}
.course--module:hover .course--label {
  opacity: 0;
}
.course--module:hover .course--description {
  opacity: 1;
}
.course--module:hover .course--label,
.course--module:hover .course--description,
.course--module:hover .course--title
{
  transform: translateY(-30px);
}
.course--label {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  transition: 0.2s all;
}
.course--title {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  transition: 0.2s all;
  margin-bottom: 10px;
}
.course--description {
  color: white;
  font-size: 18px;
  max-width: 300px;
  line-height: 1.5;
  opacity: 0;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.4s all;
}
.course--add--module {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}
.course--add--title .add {
  width: 20px;
  height: auto;
  margin-right: 5px;
  fill: white;
}
.course--detail--title {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #888;
  margin: 3rem 0 0.5rem;
  font-size: 0.9rem;
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.course--name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #979797;
}
.course--detail--list {
  font-weight: 300;
  margin: 0 0 1.5rem 1rem;
  line-height: 1.5;
}
.actions--bar {
  background: rgba(255, 255, 255, 0.21);
  padding: 1rem 0;
  margin: -2rem 0 2rem;
}
.validation--errors {
  background: #e9e5f0;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.validation--errors h3 {
  color: #364C83;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.validation--errors ul {
  font-weight: 300;
  margin-left: 1rem;
  line-height: 1.25;
}
.validation--errors li {
  color: #4862a5;
  margin-bottom: 0.5rem;
}
.validation--errors li:last-child {
  margin-bottom: 0;
}

.form--centered {
  max-width: 510px;
  margin: 0 auto;
  padding: 50px 1rem;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  backdrop-filter: blur(10px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
form {
  margin-bottom: 2.5rem;
}
label {
  display: block;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
input,
textarea {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8rem;
}
textarea {
  min-height: 300px;
}
.button {
  border: none;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  margin: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: 0;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 210px;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: all 0.3s;
}
.button:last-child {
  margin-bottom: 0;
}
.button:hover {
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  transform: translateY(-5px);
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.button-secondary {
  background: none;
  box-shadow: 0 0 0 2px white inset;
  transition: all 0.2s, color 0.2s;
}
.button-secondary:hover {
  box-shadow: 0 0 0 2px white inset;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  cursor: pointer;
}
input:focus,
button:focus,
.button:focus,
textarea:focus {
  border: none;
  border-radius: 5px;
  outline: none;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-list {
  display: flex;
}

.page-button {
  border: none;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.31) 109.95% );
  width: 35px;
  height: 35px;
  margin: 10px;
  color: white;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.page-button:focus, 
.page-button:active {
  outline: none;
}
.active-page,
button:focus,
button:active {
  font-weight: bold;
  background: linear-gradient( 131.29deg, rgba(255, 255, 255, 0) -1.83%, rgba(255, 255, 255, 0.21) 109.95% );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
}
.active-page:focus,
.active-page:active {
  outline: none;
  border-radius: 5px;
}
.pagination select {
  height: 35px;
  outline: none;
  background-color: rgba(255,255,255,.4);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: 30px;
  padding: 10px;
  font-weight: bold;
  border: none;
}
.pagination select:active,
.pagination select:focus {
  outline: none;
}
.App {
  background: linear-gradient(123deg, #182848, #4b6cb7);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 27s ease infinite;
  -moz-animation: GradientAnimation 27s ease infinite;
  animation: GradientAnimation 27s ease infinite;
  position: relative;
  padding-bottom: 40px;
}
#courseAuthor{
  color: white;
}
@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@media screen and (min-width: 600px) {
  .header--signedin li {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1;
  }
  .main--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 800px) {
  .main--grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main--flex {
    display: flex;
  }
  .create--course .main--flex div:first-child,
  .course--update .main--flex div:first-child{

    overflow: visible;
  }
  .main--flex div:first-child {
    flex-basis: 62%;
    max-height: 550px;
    overflow-y: scroll;
  }
  .main--flex div:last-child {
    margin-left: 8%;
    flex-basis: 30%;
  }
  .course--detail--title {
    margin: 1.5rem 0 0.5rem;
  }
  .button {
    margin: 0 1rem 0 0;
    display: inline-block;
  }
}
